<h1>Create note</h1>

<form action="/add" method="POST">
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required>
    <label for="title">Note</label>
    <span class="helper-text" data-error="Put text"></span>
  </div>

  <button class="btn btn-primary">Create note</button>
</form>